@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Gerhaus';
    src: url("../public/font/Gerhaus-PK69E.ttf");

    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url("../public/font/Raleway-BVpl.ttf");

    font-weight: normal;
    font-style: normal;
}

.font-custom {
    font-family: 'Gerhaus', sans-serif;
    /* Additional styling if needed */
}

body {
    font-family: 'Raleway', sans-serif;
}

@keyframes glowing {
    0% {
        text-shadow: 0 0 1px #fff, 0 0 4px #88e1ff;
    }

    100% {
        text-shadow: 0 0 1px #fff, 0 0 4px #88e1ff;
    }
}

.glow-effect {
    animation: glowing 1s infinite;
}