@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Gerhaus';
    src: url("../public/font/Gerhaus-PK69E.ttf");

    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url("../public/font/Raleway-BVpl.ttf");

    font-weight: normal;
    font-style: normal;
}

.font-custom {
    font-family: 'Gerhaus', sans-serif;
    /* Additional styling if needed */
}

body {
    font-family: 'Raleway', sans-serif;
}